body {
	background: url('https://storage.googleapis.com/moritz-demo-1138/back_g.jpg') no-repeat fixed 80% 80%;
	background-position: center;
	text-align: left;
}

.right_content h2 {
	color: #fff;
	font-size: 60px;
	line-height: 75px;
	text-align: left;
}

.right_content h2 i {
	font-size: 75px;
}

@media (max-width: 767px) {
	.right_content h2 i {
		font-size: 60px;
	}
	.right_content h2 {
		font-size: 45px;
	}
	.container img {
		/*width: 90%;*/
	}
}
